<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="index.css" />

<%- include('header') %>

<div class="orange">
  <div class="design">
    <div class="center card" style="font-size: 50px">
      Succesful<br />
      Click below to go back to home page. <br />
      <a href="index.ejs"
        ><button class="button-50" style="margin-top: 14px">
          GO TO HOME
        </button></a
      >
    </div>
  </div>
</div>
