<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="index.css" />

<div class="header">
  <a href="index.ejs" class="logo">furlife</a>
  <img class="dog_logo" src="logo.png" alt="Dog" />
  <div class="nearby">
    <a href="#"><u>> nearby vets / Shelter homes</u></a>
    <br />
    <a href="#"><u>> Pet - care articles</u></a>
  </div>
  <div class="successful_adoptions">
    <a href="successful_adoptions.ejs"><u>> successful adoptions</u></a>
    <br />
    <a href="#"><u>> customer reviews</u></a>
  </div>
</div>
<div class="orange">
  <div class="design">
    <div class="center card" style="font-size: 50px">
      Succesful<br />
      Click below to go back to home page. <br />
      <a href="index.ejs"
        ><button class="button-50" style="margin-top: 14px">
          GO TO HOME
        </button></a
      >
    </div>
  </div>
</div>
