<div class="header">
  <a href="index.ejs" class="logo">furrlife</a>
  <img class="dog_logo" src="logo.png" alt="Dog" />
  <div class="nearby">
    <a href="city_vet.ejs"><u>> nearby vets / Shelter homes</u></a>
    <br />
    <a href="articles.ejs"><u>> Pet - care articles</u></a>
  </div>
  <div class="successful_adoptions">
    <a href="successful_adoptions.ejs"><u>> successful adoptions</u></a>
    <br />
    <a href="reviews.ejs"><u>> customer reviews</u></a>
  </div>
</div>
