<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="index.css" />

<%- include('header') %>

<div class="orange">
  <div class="design">
    <div class="center card"><u>Don't buy. ADOPT</u></div>
    <div class="links">
      <div class="to_adopt">
        <h2>
          Looking for a new Pet friend ?<br />Click below to find Pets near you.
        </h2>
        <a href="city.ejs"><button class="button-50">FIND PETS</button></a>
      </div>
      <div class="to_list">
        <h2>Want to list your Pet for adoption ?<br />Click below.</h2>
        <a href="list.ejs"><button class="button-50">LIST YOUR PET</button></a>
      </div>
    </div>
  </div>
</div>
