<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="pets.css" />

<div class="header">
  <a href="index.ejs" class="logo">furlife</a>
  <img class="dog_logo" src="logo.png" alt="Dog" />
  <a href="#" class="nearby"><u>nearby Vets / Shelter homes</u></a>
</div>

<div class="orange">
  <h1><%- data[0].ID %></h1>
</div>
