<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="reviews.css" />

<%- include('header') %>

<div class="orange">
  <div class="add_review design">
    <form action="/reviews.ejs" method="post">
      <label for="name">Enter your name</label>
      <br>
      <input autocomplete="off" type="text" name="name" id="">
      <br>
      <label for="name">Enter your pet's ID that has been successfully adopted</label>
      <br>      
      <input autocomplete="off" type="text" name="id">  
      <br>
      <label for="comments">Enter your review</label>
      <br>
      <textarea autocomplete="off" name="comments" cols="80" rows="10"></textarea>
      <br>
      <button class="button-50">ADD REVIEW</button>

    </form>
  </div>
  <% if(data.length == 0){ %>
    <div class="design none">
      <h1 >No reviews found</h1>
      <a href="index.ejs"><button class="button-50">GO TO HOME</button></a>
    </div>
    <div class="orange" style="height: 300px; margin-top: 0px;"></div>
  <% } else { %> 
  <% for(var i = 0; i<data.length; i++){ %> 
  <div class="design">
    <h1 style="font-size: 20;"><u>Pet's ID : <%= data[i].PET_ID %></u></h1>
    <h1><u>by : <%= data[i].NAME %></u></h1>
    <p><%= data[i].REVIEW %> </p>
  </div>
  <% } %>
  <div class="orange" style="height: 300px; margin-top: 0px;"></div>
    <% } %>  
</div>
