<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="index.css" />

<%- include('header') %>

<div class="orange">
  <div class="design">
    <div class="center card" style="font-size: 40px">
      <form action="/validate.ejs" method="post">
        <label for="imp">Enter the passcode provided during listing : </label>
        <br />
        <input
          autocomplete="off"
          required
          type="text"
          name="imp"
          id=""
          style="height: 40px; width: 400px; border-radius: 8px"
        />
        <br />
        <button class="button-50" style="margin-top: 20px">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
