body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}



.nearby u {
    text-underline-offset: 7px;
    text-decoration-color: #f26419;
    text-decoration-thickness: 3px;
}

.design u{
    text-underline-offset: 4px;
    text-decoration-color: #f26419;
    text-decoration-thickness: 5px;
}

.successful_adoptions u {
    text-underline-offset: 7px;
    text-decoration-color: #f26419;
    text-decoration-thickness: 3px;
}

.orange {
    border: 2px solid #f26419;
    background-color: #f26419;
    color: white;
    height: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.dog_logo {
    position: absolute;
    height: 250px;
    width: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.logo {
    position: absolute;
    font-size: 60px;
    margin: auto;
    font-weight: 700;
    color: #f26419;
    left: 190px;
}

.nearby {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    top: 20px;
    right: 260px;
    margin: auto;
}

.successful_adoptions {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    top: 20px;
    right: 30px;
}

.design {
    background-color: white;
    color: black;
    height: max-content;
    width: 960px;
    border: 10px solid black;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    position: relative;
    margin: auto;
    margin-top: 80px;
}

h1{
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 0;
}



.design p {
    margin: 0;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.design p u {
    text-underline-offset: 7px;
    text-decoration-color: #f26419;
    text-decoration-thickness: 3px;
}

.photo {
    margin-left: 5px;
    height: 280;
    width: 300px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.photo img {
    height: 100%;
    width: 100%;
}

.details {
    height: 280px;
    width: 580px;
    position: absolute;
    top: 8px;
    right: 0;
    margin-top: 20px;
}


.none {
    text-align: center;
}

.none h1 {
    margin-top: 80px;
}

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 13px;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

.tick {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.mobile {
    display: none;
}

@media (max-width: 1366px),
(max-height: 728px) {
    .orange {
        display: none;
    }

    .header {
        display: none;
    }

    .mobile {
        display: block;
        width: max-content;
        height: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}