body{
    font-family: 'Baloo 2', cursive;  
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    overflow: hidden;
} 


.center u{
    text-underline-offset: 12px;
    text-decoration-thickness: 8px;
    text-decoration-color: #f26419 ;
}

.nearby u{
    text-underline-offset: 7px;
    text-decoration-color:  #f26419 ;
    text-decoration-thickness: 3px;
}

.orange{
    border: 2px solid #f26419;
    height: 100vh;
    background-color: #f26419;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    width: 80%;
    height: 100px;
    position: relative;
    margin: 0 auto;
    
}

.dog_logo{
    position: absolute;
    height: 250px;
    width: 250px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.logo{
    position: absolute;
    font-size: 60px;
    margin: auto;
    font-weight: 700;
    color: #f26419;
}

.nearby{
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    top: 30px;
    right: 0px;
    margin: auto;
}


.design{
    background-color: white;
    color: black;
    height: 60vh;
    width: 60vw ;
    border: 10px solid black;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    position: relative;
    margin: auto;
    margin-top: 60px;
}


.center{
    margin-top: 100px;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
}

.links{
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.to_adopt{
    position: absolute;
    right: 60%;  
}

.to_list{
    position: absolute;
    left: 58%;

}

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

